body {
  font-family: "Exo 2", verdana, sans-serif;
  font-size: 1.5em;
  position: relative;
  /* background-image: url('../images/background.jpg'), url('../images/backgroundtop.png'); */
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
  background-attachment: fixed, fixed;
}

#overall-header{
  text-align: center;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#menu-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-button{
  width: 300px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 4px;
  display: inline-block;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  text-align: center;
  font-size: 1em;

  cursor: pointer;
}

#menu-button:link{
  color: black;
  text-decoration: none;
}

#menu-button:visited{
  color: black;
  text-decoration: none;
}

#menu-button:hover{
  color: black;
  text-decoration: none;
}

#menu-button:active{
  color: black;
  text-decoration: none;
}

#overall-character-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-card-container{
  width: 600px;
  margin-top: 5px;
  padding: 5px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#all-character-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#all-character-card{
  width: 250px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#view-character-link{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#view-character-link:link{
  color: black;
  text-decoration: none;
}

#view-character-link:visited{
  color: black;
  text-decoration: none;
}

#view-character-link:hover{
  color: black;
  text-decoration: none;
}

#view-character-link:active{
  color: black;
  text-decoration: none;
}

#all-char-back{
  color: black;
  text-decoration: none;
  position: absolute;
  top: -35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  padding: 0px 5px 5px 5px;
}

#create-character-display{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-character-form{
  display: grid;
  justify-content: center;
  text-align: left;
  border: 3px solid #ccc;
  border-radius: 4px;
  width: 400px;
  padding: 3px 5px;
}

#form-title{
  margin-bottom: 10px;
  font-size: larger;
}

#radio-input{
  display: flex;
  flex-direction: row;
}

#radio-button-group{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

#radio-button{
  height: 30px;
  width: 30px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 100%;
}

#name-entry-input, #number-entry-input{
  width: 300px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  font-size: 1em;
  text-align: center;
  font-family: "Exo 2", verdana, sans-serif;
}

#form-dropdown{
  width: 300px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 4px;
  display: inline-block;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  text-align: center;
  font-size: 1em;

  cursor: pointer;
}

@media screen and (max-width: 720px) {
  #character-card-container{
    width: auto;
  }
}