body {
  font-family: "Exo 2", verdana, sans-serif;
  font-size: 1.5em;
  position: relative;
  /* background-image: url('../images/background.jpg'), url('../images/backgroundtop.png'); */
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
  background-attachment: fixed, fixed;
}